name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag PruebaDocker:$(date +%s)

    - name: Login to Docker
    - uses: docker/login-action@v1
      with: 
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Extract meta
      id: meta
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}  
  
    - name: Create
      uses: actions/attest-build-provenance@v3
      with:
        subject-name: index..docker.ior/adriandiaz24/prueba_docker
        subject-digest: ${{ steps.push.outputs.digest }}
        push-to-registry: true
      
